body {
    background-color: #2c3d55;
    color: #f6caca;

}

a:link {
    color: #dbebc0;
}

a:visited {
    color: #dbebc0
}

a:hover {
    color: #abb698
}

div.base {
    border: 5px solid #3e4c5e;
    background-color: #536271;
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

header.header {
    font-size: 200%;
}

p.paragraph {
    font-size: 175%;
}