@font-face {
    font-family: 'IBMPlexSans';
    src: url(fonts/IBMPlexSans-Regular.woff);
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url(fonts/IBMPlexSans-Light.woff);
    font-weight: light;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url(fonts/IBMPlexSans-SemiBold.woff);
    font-weight: semibold;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url(fonts/IBMPlexSans-Bold.woff);
    font-weight: bold;
}

body {
    background-color: #2c3d55;
    color: #f6caca;

}

a:link {
    color: #dbebc0;
}

a:visited {
    color: #dbebc0
}

a:hover {
    color: #abb698
}

div.profile {
    display: flex;
    float: left;
    align-items: center;
    align-self: left;
}

div.base {
    width: 1200px;
    border: 5px solid #3e4c5e;
    background-color: #536271;
    font-family: 'IBMPlexSans', Arial;
    text-align: center;
    align-items: center;
    align-self: center;
    padding: 10px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 100px;
    box-shadow: 15px 15px #17202c81;
    font-size: 200%;
}

div.links-and-contact {
    text-align: right;
    flex-basis: 640px;
}

div.header {
    font-size: 200%;
    text-align: center;
}

div.profile {
    text-align: center;
    flex-basis: 320px;
}

div.about {
    text-align: center;
    flex-basis: 320px;
    padding: 12px;
}

img.pfp {
    width: 320px;
    top: -75px;
    left: calc(50% - 45px);
    border-radius: 50%;
    border: 5px solid #3e4c5e;
}

div.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

ul.links-list {
    list-style: none;
}